<div [ngClass]="folded() ? 'navbar-main-unfolded ' : 'navbar-main-folded'">
  <div class="flex flex-col">
    <button class="navbar-home-unfolded" routerLink="/">
      <img src="house-svgrepo-com.svg" alt="svg arrow" class="home-icon" />
      @if(folded()){
      <div class="navbar-hometitle-unfolded">Bicker</div>
      }
    </button>
    @for (server of servers(); track $index) {
    <app-server-widget [folded]="folded()" [server]="server" />
    }
  </div>
  <div class="flex flex-col">
    <sidebar-login-button [folded]="folded" />
    <sidebar-fold-button [folded]="folded" (clickEvent)="fold()" />
  </div>
</div>
