<div class="flex flex-row mb-2 flex-grow">
  @if (fromUser) {
  <div class="flex flex-grow">
    <div
      class="flex w-3/4 ms-auto bg-gray-200 my-auto border-black rounded-md border-[1px] px-2 py-1 rounded-tr-none"
    >
      Hello Fren this is a super long message aboout absolutely nothing
      important what soever so i am glad you read this long and i hope the
      styling works properly!
    </div>
  </div>
  <img
    src="user-svgrepo-com.svg"
    alt="svg user"
    class="h-8 select-none pointer-events-none border-black border-[1px] rounded-r-md border-l-0 p-1"
  />
  } @else {
  <img
    src="user-svgrepo-com.svg"
    alt="svg user"
    class="h-8 select-none pointer-events-none border-black border-[1px] rounded-l-md border-r-0 p-1"
  />
  <div
    class="flex w-3/4 justify-start bg-gray-100 my-auto border-black rounded-md border-[1px] px-2 py-1 rounded-tl-none"
  >
    Hello Fren this is a super long message aboout absolutely nothing important
    what soever so i am glad you read this long and i hope the styling works
    properly!
  </div>
  }
</div>
