<div class="flex flex-row mb-2 flex-grow">
  <img
    src="user-svgrepo-com.svg"
    alt="svg user"
    class="h-8 select-none pointer-events-none border-black border-[1px] rounded-l-md border-r-0 p-1"
  />
  <div
    class="flex flex-col w-full bg-gray-100 my-auto border-black rounded-md border-[1px] px-2 py-1 rounded-tl-none"
    [ngClass]="message.sender._id == userId() ? 'bg-gray-300' : ''"
  >
    <span class="font-bold underline">
      {{ message.sender.username }} @if(message.sender._id == userId()){(you)}
    </span>
    <div>{{ message.content }}</div>
  </div>
</div>
