<user-super-settings-user-selector
  [users]="users"
  (selectUser)="selectUser($event)"
/>
<user-super-settings-user-selected-settings
  [selectedUser]="selectedUser"
  (deleteUser)="refreshUsers()"
/>
<div
  class="bg-primary_200 col-span-3 row-span-2 flex flex-grow flex-col rounded-md border-black border-[1px]"
>
  <span class="font-bold text-xl px-2 border-b-[1px] border-black">
    Debug
  </span>
  <div *ngIf="selectedUser" class="overflow-auto flex flex-grow flex-col h-0">
    <span>JSON (sensitive information)</span>
    <textarea
      class="resize-none flex flex-grow rounded-b-md"
      disabled
      draggable="false"
      >{{ selectedUser | json }}</textarea
    >
  </div>
</div>
