<div class="outer-div">
  <div class="inner-div">
    <form (ngSubmit)="handleSubmit()">
      <label for="framework">
        Email
        <input type="text" name="email" class="input" [(ngModel)]="email" />
      </label>
      <label for="framework">
        Password
        <input
          type="password"
          name="password"
          class="input"
          [(ngModel)]="password"
        />
      </label>
      <input type="submit" class="input submit-button" />
    </form>

    <p *ngIf="Error.enabled" class="error">Error: {{ Error.text }}</p>
  </div>
</div>
