<div
  class="flex flex-grow min-h-full min-w-full flex-row w-72 justify-items-center align-middle text-center bg-gray-300 rounded-md"
>
  <div
    class="flex flex-grow flex-col rounded-md p-8 h-1/2 border-black border-[1px] border-solid w-max select-none m-auto"
  >
    <form (ngSubmit)="handleSubmit()">
      <label for="framework">
        Email
        <input
          type="text"
          name="email"
          class="w-full rounded-md border-black border-[1px]"
          [(ngModel)]="email"
        />
      </label>
      <label for="framework">
        Password
        <input
          type="password"
          name="password"
          class="w-full rounded-md border-black border-[1px]"
          [(ngModel)]="password"
        />
      </label>
      <input
        type="submit"
        class="w-full rounded-md border-black border-[1px] mt-3 cursor-pointer hover:bg-black hover:bg-opacity-25"
      />
    </form>
    <button
      (click)="logout()"
      class="border-black border-solid border-[1px] rounded-md hover:bg-black hover:bg-opacity-25 select-none"
    >
      Logout
    </button>
    <p
      *ngIf="error"
      class="text-red-500 font-bold underline border-red-500 border-2 bg-white rounded-md mt-4 select-none"
    >
      Error: Incorrect Details!
    </p>
    <p>{{ email }} | {{ password }}</p>
  </div>
</div>
