<li class="">
  @if (channel?._id) {
  <div
    [ngClass]="
      selected
        ? 'bg-primary_accent hover:bg-primary_500'
        : 'hover:bg-primary_400'
    "
    class="border-[1px] border-black rounded-md flex flex-grow text-center hover:cursor-pointer hover:bg-opacity-35"
  >
    <a
      class="flex flex-grow rounded-md px-2 select-none hover:cursor-pointer font-bold m-auto"
      (click)="setChannel(channel?._id)"
    >
      # {{ channel?.name }}
      <!-- [routerLink]="'/group/' + serverID + '/' + channelID" -->
    </a>
  </div>
  }
</li>
