<div class="border-t-black p-2">
  {{ server._id }}
  <form (ngSubmit)="handleSubmit()" class="flex flex-col">
    <label>
      Server Name
      <input
        type="text"
        name="email"
        class="w-full rounded-md border-black border-[1px]"
        [(ngModel)]="server.serverName"
      />
    </label>
    <label>
      Image Url
      <input
        type="text"
        name="imageurl"
        class="w-full rounded-md border-black border-[1px]"
        [(ngModel)]="server.imageURL"
      />
    </label>
    <input
      type="submit"
      class="w-full rounded-md border-black border-[1px] mt-3 cursor-pointer hover:bg-black hover:bg-opacity-25 mb-2"
      value="Update"
    />
  </form>
</div>
