<div class="border-t-black p-2">
  <div
    class="border-black border-[1px] bg-white rounded-md underline font-bold"
  >
    {{ creating ? "Creating New Server" : "Updating Server" }}
  </div>
  {{ group._id || "" }}
  <form (ngSubmit)="handleSubmit()" class="flex flex-col">
    <label>
      Server Name
      <input
        type="text"
        name="email"
        class="w-full rounded-md border-black border-[1px]"
        [(ngModel)]="group.groupName"
      />
    </label>
    <label>
      Image Url
      <input
        type="text"
        name="imageurl"
        class="w-full rounded-md border-black border-[1px]"
        [(ngModel)]="group.imageURL"
      />
    </label>
    <input
      type="submit"
      class="w-full rounded-md border-black border-[1px] mt-3 cursor-pointer hover:bg-black hover:bg-opacity-25 mb-2"
      [value]="creating ? 'Create' : 'Update'"
    />
  </form>
  @if(error != ''){
  <div
    class="border-black border-[1px] text-red-600 bg-white rounded-md underline font-bold"
  >
    {{ error }}
  </div>
  }
</div>
