<div *ngIf="!folded" class="navbar-main-unfolded nav-border-right rounded-r-md">
  <ul>
    <button
      class="navbar-home-unfolded nav-border nav-hover-fade w-full"
      routerLink="/"
    >
      <img
        src="house-svgrepo-com.svg"
        alt="svg arrow"
        class="h-8 nav-border-right pointer-events-none"
      />
      <div class="navbar-hometitle-unfolded">Bicker</div>
    </button>
    <li><app-groupwidget [folded]="folded" serverName="First Server" /></li>
    <li><app-groupwidget [folded]="folded" serverName="second Server" /></li>
    <li><app-groupwidget [folded]="folded" serverName="Third Server" /></li>
  </ul>
  <div class="flex flex-col">
    <div
      class="navbar-footer-user-unfolded nav-border nav-hover-fade"
      routerLink="{{ userIconLink }}"
    >
      <img
        src="user-svgrepo-com.svg"
        alt="svg user"
        class="h-8 nav-border-right select-none pointer-events-none"
      />
      <!-- why the hell is this required to move a line of text down a bit.... jeeeezus -->
      <div class="flex flex-col w-full justify-evenly">
        <div class="navbar-footer-user-name-unfolded">
          {{ username }}
        </div>
      </div>
    </div>

    <button
      (click)="fold()"
      class="navbar-footer-folder-unfolded nav-border nav-hover-fade"
    >
      <img
        src="arrow-narrow-right-move-svgrepo-com.svg"
        alt="svg arrow"
        class="rotate-180 h-8 pointer-events-none"
      />
    </button>
  </div>
</div>

<div
  *ngIf="folded"
  class="bg-slate-600 rounded-r-md border-black border-0 border-r-[1px] flex h-full w-[51px] p-2 flex-col justify-between"
>
  <ul>
    <a
      class="flex flex-row rounded-md border-black border-[1px] hover:cursor-pointer hover:bg-black hover:bg-opacity-25"
      routerLink="/"
    >
      <img src="house-svgrepo-com.svg" alt="svg arrow" class="h-8" />
    </a>
    <li><app-groupwidget [folded]="folded" serverName="First Server" /></li>
    <li><app-groupwidget [folded]="folded" serverName="second Server" /></li>
    <li><app-groupwidget [folded]="folded" serverName="Third Server" /></li>
  </ul>
  <div class="flex flex-col">
    <button
      class="border-black border-solid border-[1px] rounded-md hover:bg-black hover:bg-opacity-25 select-none"
      routerLink="{{ userIconLink }}"
    >
      <img src="user-svgrepo-com.svg" alt="svg user" class="h-8" />
    </button>
    <button
      (click)="fold()"
      class="mt-2 border-black border-solid border-[1px] rounded-md hover:bg-black hover:bg-opacity-25"
    >
      <img
        src="arrow-narrow-right-move-svgrepo-com.svg"
        alt="svg arrow"
        class="h-8 select-none"
      />
    </button>
  </div>
</div>
