<div class="navbar-footer-user-unfolded nav-border nav-hover-fade">
  <a
    [routerLink]="!name() ? '/login' : '/user'"
    class="rounded-md flex flex-grow"
    draggable="false"
  >
    <img
      src="user-svgrepo-com.svg"
      alt="svg user"
      class="h-8 select-none pointer-events-none"
    />
    <!-- why the hell is this required to move a line of text down a bit.... jeeeezus -->
    @if(folded()){
    <div class="flex nav-border-left flex-col w-full justify-evenly">
      <div class="navbar-footer-user-name-unfolded">{{ name() }}</div>
    </div>
    }
  </a>
</div>
