<head>
  <title>{{ title }}</title>
</head>

<div class="flex flex-grow h-screen font-sans bg-gray-500">
  <app-navbar />
  <div class="flex flex-grow flex-col h-screen bg-gray-500">
    <div
      class="flex flex-row w-full bg-red-300 border-black border-solid border-2 rounded-md"
    >
      Debug: {{ message }} | Username : {{ username }} || Logged In :
      {{ isLoggedIn }}
      {{ testSignalComputed() }}
    </div>
    <div class="flex flex-grow w-full justify-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
