<div
  class="flex flex-grow flex-col bg-primary_300 justify-center m-2 rounded-md p-2"
>
  <div class="text-4xl underline font-bold">Welcome to Bicker!</div>
  <div class="flex flex-grow w-full bg-primary_100 rounded-md p-2 mt-2">
    <div
      class="grid lg:grid-cols-4 lg:grid-rows-4 md:grid-rows-3 md:grid-cols-3 w-full gap-2"
    >
      <div
        class="bg-primary_200 col-span-1 row-span-2 rounded-md border-black border-[1px]"
      >
        1
      </div>
      <div
        class="bg-primary_300 col-span-2 rounded-md border-black border-[1px]"
      >
        2
      </div>
      <div
        class="bg-primary_400 col-span-1 rounded-md border-black border-[1px]"
      >
        3
      </div>
      <div
        class="bg-primary_200 col-span-1 row-span-2 rounded-md border-black border-[1px]"
      >
        4
      </div>
      <div
        class="bg-primary_300 col-span-2 rounded-md border-black border-[1px]"
      >
        5
      </div>
      <div
        class="bg-primary_400 col-span-1 row-span-2 rounded-md border-black border-[1px]"
      >
        6
      </div>
      <div
        class="bg-primary_200 col-span-1 rounded-md border-black border-[1px]"
      >
        7
      </div>
      <div
        class="bg-primary_300 col-span-1 rounded-md border-black border-[1px]"
      >
        8
      </div>
      <div
        class="bg-primary_400 col-span-1 rounded-md border-black border-[1px]"
      >
        9
      </div>
    </div>
  </div>
</div>
